src/test/resources/test-mule-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:awsv4auth="http://www.mulesoft.org/schema/mule/awsv4auth"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/awsv4auth http://www.mulesoft.org/schema/mule/awsv4auth/current/mule-awsv4auth.xsd">

    <flow name="getAuthorizationStringFlow">
        <set-payload value='#[output application/json --- {"first_name":"Bill"}]'/>
        <awsv4auth:get-authorization-string accessKey="ABC" secretKey="123" regionName="us-east-1" serviceName="lambda" canonicalURI="/2015-03-31/functions/helloAWS/invocations" timeStamp="20190425T123154Z" body="#[payload]" hostName="lambda.us-east-1.amazonaws.com"/>
    </flow>

</mule>
